body { 
    background: rgb(4, 62, 85) no-repeat fixed center; 
  }

/* div {
    border: 2px solid black;
} */

img {
    width: auto;
    height: 300px;
    margin: 0 auto;
    border-radius: 5%;
}

#api-result {
    margin: 20px;
    padding: 30px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: rgb(63, 63, 63);
}

p {
    color: white;
    margin: 20px auto;
    font-weight: 700;
}

.btn-dark {
    width: 90%;
    border: 2px solid rgb(0, 0, 0);
    margin: 2px 0;
}

hr {
    background-color: black;
}

footer {
    clear: both;
    height: 100px;
  }

.jumbotron {
    background-image: url("../../assets/images/rabbit-edit.png");

    background-position: center, center;

    background-repeat: no-repeat;
}

@media (max-width: 992px){
    .jumbotron {
    
        background-size: 95% 90%;
    }
}

@media (max-width: 767px){
    .jumbotron {
    
        background-size: 100% 80%;
    }
}

@media (max-width: 580px){
    .jumbotron {
    
        background-size: 100% 80%;
    }
}

@media (max-width: 500px){
    .jumbotron {
    
        background-size: 100% 80%;
    }
}

@media (max-width: 450px){
    .jumbotron {
    
        background-size: 100% 80%;
    }
}

@media (max-width: 415px){
    .jumbotron {
    
        background-size: 100% 80%;
    }
}

@media (max-width: 400px){
    .jumbotron {
    
        background-size: 100% 80%;
    }
}